# Flutter
.dart_tool/
.build/
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/

# Android / iOS
/android/
/ios/

# VSCode
.vscode/

# Python
__pycache__/
*.pyc
.venv/

# Secrets
.env

# Logs
*.log

# OS
.DS_Store
Thumbs.db